grant {
    permission java.security.AllPermission "", "";
    permission java.net.SocketPermission "*", "accept, connect, listen, resolve";
     permission java.util.PropertyPermission "*", "read, write";
     permission java.lang.RuntimePermission "*";
};