.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area{
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-alignment: center;
    -fx-padding: 10 0 0 0;
}
.text-area .text{
    -fx-text-alignment: center-left;
}